.LoginContainer {
    margin: 10%;
    height: max-content;
    width: auto;
    padding: 5%;
    background-color: aqua;
    display: flexbox;
}

.LoginForm {
    display: flexbox;
    flex-direction: column;
}