/* .Profile{
    display: inline-block;
} */

span.inl {
    display: inline-block;
    width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid rgb(37, 37, 51);    
}

div.c {
    display: inline-block;
    align-items: center;
    /* padding: 10%; */
    margin-bottom: 2%;
    margin-left: 30px;
    margin-right: 30px;
    /* border-left: 2%;
    border-right: 2%; */
    /* border: 20px; */
    /* margin-inline: 100%; */
    width: 30%;
    max-height: 500px;
    height: 100%;
    /* padding: 5px; */
    border: 1px solid blue;    
    background-color: rgba(255, 140, 0, 0.6);
    font:30px;
}

span.c {
    display: inline-block;
    /* padding: 10%; */
    margin-top: 15%;
    margin-left: 30px;
    margin-right: 30px;
    /* border-left: 2%;
    border-right: 2%; */
    /* border: 20px; */
    /* margin-inline: 100%; */
    width: 30%;
    /* min-height: 400px; */
    height: 100%;
    /* padding: 5px; */
    border: 1px solid blue;    
    background-color: rgba(255, 140, 0, 0.6);
    font:30px;
  }
.rw {
  margin: 15px;
}
.tables {
  display: flexbox;
  flex-direction: column;
  flex-wrap: nowrap;
}