.RegisterContainer {
    margin: 10%;
    height: 700px;
    width: auto;
    padding: 5%;
    background-color: aqua;
    display: flexbox;
    flex-direction: column;
}

.RegisterForm {
    display: flexbox;
    flex-direction: column;
}