
.body {
    opacity: 0;
}

.RegisterContainer {
    margin-right: 50%;
    height: 100%;
    width: auto;
    padding: 2%;
    background-size: 100% 100%;
    background-color: transparent;
    display: block;
    flex-direction: row;
}

.RegisterForm {
    display: flexbox;
    flex-direction: column;
}

.image{
    top: 0px;
left: 0px;
width: 766px;
height: 1080px;
margin-right: 0;
background: #F1C278 url("../assets/register_paper.png") 0% 0% no-repeat padding-box;
opacity: 1;
display: inline-block;
}
/* <div><image url="../assets/register_paper.png" id="image"></image></div> */

.navbar.navbar-expand .navbar-nav .nav-link{
    color: #2E7372;
    background-color: transparent;
    float:right;
}

.nav-link {
    font-size:28px;
    font-weight: 490;
    font: 'Segoe UI';
}


.navbar.mr-auto{
    float:right;
    margin-right: 0%;
}

.btn.btn-primary{
    background-color:#2E7372;
    border-color:#2E7372;
    color: white;
    font-size:24px;
    font-weight: 480;
    font: 'Segoe UI';
    
}